retrobat/roms/**
!retrobat/roms/**/gamelist.xml

retrobat/emulationstation/.emulationstation/themes/Hypermax-Plus-PixN/**
!retrobat/emulationstation/.emulationstation/themes/Hypermax-Plus-PixN/theme.xml
!retrobat/emulationstation/.emulationstation/themes/Hypermax-Plus-PixN/video.xml
!retrobat/emulationstation/.emulationstation/themes/Hypermax-Plus-PixN/gamecarousel.xml
!retrobat/emulationstation/.emulationstation/themes/Hypermax-Plus-PixN/Menu-01.xml
!retrobat/emulationstation/.emulationstation/themes/Hypermax-Plus-PixN/gamecarousel.xml.perfect

retrobat/**/tmp/**
retrobat/**/logs/**
retrobat/**/cache/**
retrobat/**/downloads/**
retrobat/**/screenshots/**
retrobat/**/records/**
retrobat/**/states/**
retrobat/**/saves/**
retrobat/**/thumbnails/**
retrobat/**/videos/**
retrobat/**/images/**
retrobat/**/music/**
retrobat/**/manuals/**
backup/
